@font-face {
    font-family: 'DM Sans',sans-serif;
    src: url('../fonts/DMSans-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'DM Sans',sans-serif;
    src: url('../fonts/DMSans-Italic.ttf');
    font-style: italic;
    font-weight: 400;

}
@font-face {
    font-family: 'DM Sans',sans-serif;
    src: url('../fonts/DMSans-Medium.ttf');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'DM Sans',sans-serif;
    src: url('../fonts/DMSans-MediumItalic.ttf');
    font-style: italic;
    font-weight: 500;
}
@font-face {
    font-family: 'DM Sans',sans-serif;
    src: url('../fonts/DMSans-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'DM Sans',sans-serif;
    src: url('../fonts/DMSans-BoldItalic.ttf');
    font-style: italic;
    font-weight: 700;
}
@font-face {
    font-family: 'Geometria',sans-serif;
    src: url('../fonts/Geometria-Medium.ttf') ;
    font-style: normal;
    font-weight: 400;
}