<section class="restaurant-about-kitchen section">
  <div class="container container-about-kitchen">
    <h2 class="visually-hidden">About a kitchen</h2>
    <ul class="list list-about-kitchen-img">
      <li class="list-item-about-kitchen-img">
        <picture>
          <source />
          <source />
          <source />
        </picture>
      </li>
      <li class="list-item-about-kitchen-img">
        <picture>
          <source />
          <source />
          <source />
        </picture>
      </li>
      <li class="list-item-about-kitchen-img">
        <picture>
          <source />
          <source />
          <source />
        </picture>
      </li>
    </ul>
    <p>
      At Mimino, we are experts in meat preparation. Our chefs use only the
      finest and freshest ingredients to create delicious dishes that showcase
      the flavors of premium cuts of meat.
    </p>
    <p>
      Our slow-cooking process and expert seasoning bring out the best in each
      dish, making for an unforgettable dining experience. Come taste the magic
      of meat preparation at Mimino.
    </p>
  </div>
</section>
