<section id="menu" class="section rest-menu">
  <div class="rest-menu-container">
    <h2>RESTAURANT MENU</h2>
    <div class="rest-menu-slider">
      <h3>HOT MEALS</h3>
      <ul class="rest-menu-list list">
        <li class="rest-menu-item">
          <div class="rest-menu-dish">
            <p>Veal borscht with beans</p>
            <p>400 g</p>
          </div>
          <div class="rest-menu-dish">
            <p>
              Veal, potatoes, cabbage, carrots, onions, beans, garlic, tomatoes,
              greens, sour cream
            </p>
            <p>240 UAH</p>
          </div>
        </li>
        <li class="rest-menu-item">
          <div class="rest-menu-dish">
            <p>Cheese soup with chicken</p>
            <p>400 g</p>
          </div>
          <div class="rest-menu-dish">
            <p>
              Chicken, potatoes, carrots, onions, mushrooms, soft cheese, greens
            </p>
            <p>200 UAH</p>
          </div>
        </li>
        <li class="rest-menu-item">
          <div class="rest-menu-dish">
            <p>Carbonara pasta</p>
            <p>400 g</p>
          </div>
          <div class="rest-menu-dish">
            <p>Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens</p>
            <p>430 UAH</p>
          </div>
        </li>
        <li class="rest-menu-item">
          <div class="rest-menu-dish">
            <p>Pork steak</p>
            <p>400 g</p>
          </div>
          <div class="rest-menu-dish">
            <p>
              Pork tenderloin, spices, served with sweet chili sauce and
              vegetables
            </p>
            <p>500 UAH</p>
          </div>
        </li>
        <li class="rest-menu-item">
          <div class="rest-menu-dish">
            <p>Gorbusha in white wine sauce</p>
            <p>400 g</p>
          </div>
          <div class="rest-menu-dish">
            <p>Tender redfish, cream sauce based on white wine</p>
            <p>400 UAH</p>
          </div>
        </li>
      </ul>
    </div>
    <button>BOOK A TABLE</button>
  </div>
</section>
