<section id="menu" class="rest-menu-section section ">
  <div class="rest-menu-container container ">
    <h2 class="rest-menu-title">RESTAURANT MENU</h2>
    <div class="rest-menu menu-slider">
      <!-- HOT MEALS -->
      <div class="rest-menu-slider slider-item">
        <h3>HOT MEALS</h3>

        <ul class="rest-menu-list list">
          <li class="rest-menu-item">
            <ul class="rest-menu-sublist">
              <li>
                <div class="menu-dish-name">
                  <p>Veal borscht with beans</p>
                  <p>400 g</p>
                </div>
              </li>
            </ul>
            <div class="menu-dish-ingred">
              <p>
                Veal, potatoes, cabbage, carrots, onions, beans, garlic,
                tomatoes, greens, sour cream
              </p>
              <p>240 UAH</p>
            </div>
          </li>

          <li class="rest-menu-item">
            <ul class="rest-menu-sublist">
              <li>
                <div class="menu-dish-name">
                  <p>Cheese soup with chicken</p>
                  <p>400 g</p>
                </div>
              </li>
            </ul>
            <div class="menu-dish-ingred">
              <p>
                Chicken, potatoes, carrots, onions, mushrooms, soft cheese,
                greens
              </p>
              <p>200 UAH</p>
            </div>
          </li>

          <li class="rest-menu-item">
            <ul class="rest-menu-sublist">
              <li>
                <div class="menu-dish-name">
                  <p>Carbonara pasta</p>
                  <p>400 g</p>
                </div>
              </li>
            </ul>
            <div class="menu-dish-ingred">
              <p>
                Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens
              </p>
              <p>430 UAH</p>
            </div>
          </li>

          <li class="rest-menu-item">
            <ul class="rest-menu-sublist">
              <li>
                <div class="menu-dish-name">
                  <p>Pork steak</p>
                  <p>400 g</p>
                </div>
              </li>
            </ul>
            <div class="menu-dish-ingred">
              <p>
                Pork tenderloin, spices, served with sweet chili sauce and
                vegetables
              </p>
              <p>500 UAH</p>
            </div>
          </li>

          <li class="rest-menu-item">
            <ul class="rest-menu-sublist">
              <li>
                <div class="menu-dish-name">
                  <p>Gorbusha in white wine sauce</p>
                  <p>400 g</p>
                </div>
              </li>
            </ul>
            <div class="menu-dish-ingred">
              <p>Tender redfish, cream sauce based on white wine</p>
              <p>400 UAH</p>
            </div>
          </li>
        </ul>
      </div>

      <!-- Side dishes and snacks -->
      <div class="rest-menu-slider slider-item vis-hidden">
        <h3>Side dishes and snacks</h3>

        <ul class="rest-menu-list list">
          <li class="rest-menu-item">
            <ul class="rest-menu-sublist">
              <li>
                <div class="menu-dish-name">
                  <p>Baked vegetables</p>
                  <p>200 g</p>
                </div>
              </li>
            </ul>
            <div class="menu-dish-ingred">
              <p>Zucchini, pepper, tomato, eggplant</p>
              <p>230 UAH</p>
            </div>
          </li>

          <li class="rest-menu-item">
            <ul class="rest-menu-sublist">
              <li>
                <div class="menu-dish-name">
                  <p>French fries</p>
                  <p>150 g</p>
                </div>
              </li>
            </ul>
            <div class="menu-dish-ingred">
              <p>Potatoes, tomato sauce</p>
              <p>160 UAH</p>
            </div>
          </li>

          <li class="rest-menu-item">
            <ul class="rest-menu-sublist">
              <li>
                <div class="menu-dish-name">
                  <p>Peasant-style potatoes</p>
                  <p>150 g</p>
                </div>
              </li>
            </ul>
            <div class="menu-dish-ingred">
              <p>Potatoes, spices, spicy sauces</p>
              <p>160 UAH</p>
            </div>
          </li>

          <li class="rest-menu-item">
            <ul class="rest-menu-sublist">
              <li>
                <div class="menu-dish-name">
                  <p>Crisp pickles from the barrel</p>
                  <p>250 g</p>
                </div>
              </li>
            </ul>
            <div class="menu-dish-ingred">
              <p>Salted cucumber, pickled tomato, sauerkraut, Korean carrot</p>
              <p>350 UAH</p>
            </div>
          </li>

          <li class="rest-menu-item">
            <ul class="rest-menu-sublist">
              <li>
                <div class="menu-dish-name">
                  <p>Chicken wings in honey sauce</p>
                  <p>400 g</p>
                </div>
              </li>
            </ul>
            <div class="menu-dish-ingred">
              <p>
                Chicken wings, mustard-honey sauce, served with carrots, celery
                and blue cheese sauce
              </p>
              <p></p>
            </div>
          </li>
        </ul>
      </div>

      <!-- Salads -->
      <div class="rest-menu-slider slider-item vis-hidden">
        <h3>Salads</h3>

        <ul class="rest-menu-list list">
          <li class="rest-menu-item">
            <ul class="rest-menu-sublist">
              <li>
                <div class="menu-dish-name">
                  <p>Caesar with chicken</p>
                  <p>230 g</p>
                </div>
              </li>
            </ul>
            <div class="menu-dish-ingred">
              <p>
                Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese,
                croutons, Caesar sauce
              </p>
              <p>450 UAH</p>
            </div>
          </li>

          <li class="rest-menu-item">
            <ul class="rest-menu-sublist">
              <li>
                <div class="menu-dish-name">
                  <p>Caesar with shrimp</p>
                  <p>230 g</p>
                </div>
              </li>
            </ul>
            <div class="menu-dish-ingred">
              <p>
                Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese,
                croutons, caesar sauce
              </p>
              <p>300 UAH</p>
            </div>
          </li>

          <li class="rest-menu-item">
            <ul class="rest-menu-sublist">
              <li>
                <div class="menu-dish-name">
                  <p>Greek salad</p>
                  <p>230 g</p>
                </div>
              </li>
            </ul>
            <div class="menu-dish-ingred">
              <p>
                Fresh cucumber, tomato, bell pepper, olives, brynza cheese,
                lettuce, sauce
              </p>
              <p>280 UAH</p>
            </div>
          </li>

          <li class="rest-menu-item">
            <ul class="rest-menu-sublist">
              <li>
                <div class="menu-dish-name">
                  <p>Meat salad</p>
                  <p>230 g</p>
                </div>
              </li>
            </ul>
            <div class="menu-dish-ingred">
              <p>
                Chicken fillet or pork tenderloin, fresh cucumber, tomato, bell
                pepper, ranch sauce
              </p>
              <p>300 UAH</p>
            </div>
          </li>
        </ul>
      </div>

      <!-- Desserts and Drinks -->
      <div class="rest-menu-slider slider-item vis-hidden">
        <div class="rest-menu-desserts">
          <h3>Desserts</h3>
          <ul class="rest-menu-list list">
            <li class="rest-menu-item">
              <ul class="rest-menu-sublist">
                <li>
                  <div class="menu-dish-name">
                    <p>Napoleon cake</p>
                    <p class="drink-price">200 UAH</p>
                  </div>
                </li>
              </ul>
            </li>

            <li class="rest-menu-item">
              <ul class="rest-menu-sublist">
                <li>
                  <div class="menu-dish-name">
                    <p>Poppy cake</p>
                    <p class="drink-price">300 UAH</p>
                  </div>
                </li>
              </ul>
            </li>

            <li class="rest-menu-item">
              <ul class="rest-menu-sublist">
                <li>
                  <div class="menu-dish-name">
                    <p>Tiramisu</p>
                    <p class="drink-price">260 UAH</p>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="rest-menu-drinks">
          <h3>Drinks</h3>
          <ul class="rest-menu-list list">
            <li class="rest-menu-item">
              <ul class="rest-menu-sublist">
                <li>
                  <div class="menu-dish-name">
                    <p>Black/green tea</p>
                    <p class="drink-price">100 UAH</p>
                  </div>
                </li>
              </ul>
            </li>

            <li class="rest-menu-item">
              <ul class="rest-menu-sublist">
                <li>
                  <div class="menu-dish-name">
                    <p>Espresso</p>
                    <p class="drink-price">100 UAH</p>
                  </div>
                </li>
              </ul>
            </li>

            <li class="rest-menu-item">
              <ul class="rest-menu-sublist">
                <li>
                  <div class="menu-dish-name">
                    <p>Cappuccino</p>
                    <p class="drink-price">100 UAH</p>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="btn-arrows"></div>
    <button
      class="rest-btn btn btn-light-bg js-open-modal"
      data-modal="book-table"
    >
      book a table
    </button>
  </div>
</section>
