.room-amenities {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding-top: 40px;
}
.room-amenities-title {
    margin-bottom: 28px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -0.02em;
}
.room-amenities-main-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 64px;
}
.room-amenities-list {
    margin-left: 20px;
    font-size: 10px;
    list-style: disc;
}
.room-amenities-item span {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}
.room-amenities-images {
    position: relative;
}
.room-amenities-img-1-wrap {
    max-width: 207px;
    position: absolute;
    top: 144px;
}
.room-amenities-img-2-wrap {
    max-width: 259px;
    margin-left: auto;
    margin-bottom: 32px;
}
.room-amenities-btn {
    display: block;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

@media screen and (min-width: 768px) {
    .room-amenities {
        padding-top: 80px;
    }
    .room-amenities-title {
        font-size: 40px;
        line-height: 1.1;
        margin-bottom: 40px;
    }
    .room-amenities-item span {
        font-size: 18px;
        line-height: 1.33;
    }
    .room-amenities-main-list {
        margin-bottom: 122px;
    }
    .room-amenities-img-1-wrap {
        max-width: 365px;
        top: 157px;
    }
    .room-amenities-img-2-wrap {
        max-width: 408px;
        margin-bottom: 0;
    }
    .room-amenities-btn {
        line-height: 1.71;
        padding-left: 24px;
        padding-right: 24px;
        position: absolute;
        bottom: 114px;
    }
}

@media screen and (min-width: 1440px) {
    .room-amenities-main-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1176px;
        row-gap: 100px;
        margin-bottom: 0;
    }
    .room-amenities-main-item {
        min-width: 460px;
    }
    .room-amenities-img-1-wrap {
        max-width: 439px;
        top: 208px;
    }
    
    .room-amenities-img-2-wrap {
        max-width: 496px;
    }
    .room-amenities-images {
        margin-left: auto;
        max-width: 848px;
        margin-top: -120px;
    }
    .room-amenities-btn {
        font-size: 18px;
        line-height: 1.33;
        bottom: 135px;
    }
}