.hero-room {
  padding-top: 40px;
  padding-bottom: 64px;
}
.hero-room-page {
  overflow: hidden;
}
.hero-room-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.02em;

  margin-bottom: 24px;
}
.hero-room-btn {
  margin-bottom: 40px;
}
.hero-room-wrapper {
  position: relative;
  display: flex;
  width: 520px;
  margin-bottom: 24px;
}
.hero-room-picture:not(:last-child) {
  margin-right: 20px;
}
.hero-room-img {
  width: 250px;
}
.hero-room-slider-arrows {
  width: 104px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-bottom: 40px;
}

.hero-room-slider-icon {
  stroke: var(--dark-color);
  fill: none;
  cursor: pointer;
}

.hero-room-prev {
  opacity: 0.3;
}

.hero-room-text {
  width: 289px;

  line-height: 1.29;
  letter-spacing: 0.05em;
}

/* --------MEDIA-------- */

@media screen and (min-width: 768px) {
  .hero-room {
    padding-bottom: 120px;
  }
  .hero-room-title {
    font-size: 60px;
    line-height: 1;

    margin-bottom: 18px;
  }
  .hero-room-btn {
    margin-bottom: 28px;
  }
  .hero-room-wrapper {
    width: 904px;
    margin-bottom: 40px;
  }
  .hero-room-picture:not(:last-child) {
    margin-right: 32px;
  }
  .hero-room-img {
    width: 436px;
  }
  .hero-room-slick {
    bottom: -96px;
    left: 600px;
  }
  .hero-room-wrap-bottom {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 1440px) {
  .hero-room-page {
    padding-top: 169px;
  }
  .hero-room-container {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .hero-room-title {
    font-size: 80px;
    line-height: 1;

    margin-bottom: 32px;
  }
  .hero-room-btn {
    margin-bottom: 169px;
  }
  .hero-room-wrapper {
    position: absolute;
    top: 150px;
    right: -50%;
    transform: translate(-50%, -50%);
    margin-bottom: 0;
  }
  .hero-room-img {
    height: 100%;
    width: 100%;
  }
  .hero-room-wrap-bottom {
    justify-content: flex-end;
  }
  .hero-room-slider-arrows {
    margin-left: 0;
    align-items: flex-end;
    margin-bottom: 30px;
  }
  .hero-room-text {
    margin-right: 415px;
    padding-bottom: 48px;
  }
}
