/* BUTTON default */
.btn{
    display: inline-block;
    height: 34px;
    font-size: 14px;
    line-height: 1.29;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    border-radius: 32px;
    background-color: transparent;
    padding: 8px 18px;
    transition: color var(--transition-dur-and-fun), background-color var(--transition-dur-and-fun), border-color var(--transition-dur-and-fun);
}

    @media screen and (min-width:768px){
        .btn{
            height: 40px;
            font-size: 14px;
            line-height: 1.71;
            padding: 8px 24px;
        }
    }
    @media screen and (min-width:1440px){
    .btn{
        height: 42px;
        font-size: 18px;
        line-height: 1.33;
        padding: 9px 24px;
    }
}
    @media screen and (max-width:320px) {
        .btn{
            font-size: 12px;
        }
    }
/* background */
.btn-light-bg {
    color: var(--dark-color);
    border: 0.8px solid var(--dark-color);
}
.btn-dark-bg {
    color: var(--light-color);
    border: 0.8px solid var(--light-color);
}
/* HOVER and FOCUS */
.btn-light-bg:hover,
.btn-light-bg:focus {
    border-color: transparent;
    color: var(--light-color);
    background-color: var(--dark-color);
}
.btn-dark-bg:hover,
.btn-dark-bg:focus {
    border-color: transparent;
    color: var(--dark-color);
    background-color: var(--light-color);
}
