.home-hero {
  color: var(--light-color);
  background-color: var(--dark-color);
}

.home-hero .btn {
  font-size: 13px;
}

.home-hero .container {
  padding-top: 507px;
  padding-bottom: 40px;
}

.home-hero-title {
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #f7f7f7;
  margin-bottom: 24px;
  text-align: center;
}

.home-hero-button {
  display: flex;
  justify-content: center;
  margin-bottom: 66px;
  gap: 14px;
}
.home-hero-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.home-hero-item:first-child {
  max-width: 338px;
}

.home-hero-item:last-child {
  max-width: 314px;
}

.home-hero-italic {
  font-style: italic;
}

.home-hero-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.05em;
  color: #f7f7f7;
}

@media screen and (min-width: 768px) {
  .home-hero .container {
    padding-top: 606px;
    padding-bottom: 38px;
  }

  .home-hero-title {
    font-size: 150px;
    margin-bottom: 32px;
  }

  .home-hero-button {
    margin-bottom: 86px;
  }
  .home-hero-list {
    flex-direction: row;
  }
}

@media screen and (min-width: 1440px) {
  .home-hero .container {
    padding-top: 274px;
    padding-bottom: 48px;
  }

  .home-hero-title {
    font-size: 180px;
    margin-bottom: 196px;
    text-align: left;
  }

  .home-hero-wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .home-hero-button {
    margin-bottom: 0;
  }
}
