.home-hotel-details {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--dark-color);
}
.home-hotel-details-contant-wrapper {
  margin-bottom: 33px;
}
.home-hotel-details-btn-desktop {
  display: none;
}
.home-hotel-details-title {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #f7f7f7;
}
.home-hotel-details-text {
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #f7f7f7;
}
.home-hotel-details-btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.home-hotel-details .img-one {
  max-width: 335px;
  margin-bottom: 27px;
}
.home-hotel-details-gallery-grid {
  display: none;
}
@media screen and (max-width: 374px) {
  .home-hotel-details-slider {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 82px;
  }
  .home-hotel-details-slider-img {
    max-width: 46%;
  }
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .home-hotel-details-slider {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 82px;
  }
  .home-hotel-details-slider-img {
    max-width: 158px;
  }
}

@media screen and (min-width: 768px) {
  .home-hotel-details {
    padding-top: 44px;
    padding-bottom: 44px;
  }
  .home-hotel-details-contant-wrapper {
    display: flex;
    max-width: 602px;
    align-items: center;
    gap: 32px;
    margin-bottom: 80px;
  }
  .home-hotel-details-title {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 68px;
  }
  .home-hotel-details-slider,
  .home-hotel-details .img-one {
    display: none;
  }
  .home-hotel-details-gallery-grid {
    display: grid;
    grid-template-columns: 176px 320px 176px;
    grid-template-rows: 143px 1fr 143px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    margin-bottom: 40px;
  }

  .div1 {
    grid-area: 1 / 1 / 2 / 2;
    width: 176px;
    height: 143px;
  }
  .div2 {
    grid-area: 1 / 2 / 4 / 3;
    width: 320px;
    height: 417px;
  }
  .div3 {
    grid-area: 3 / 3 / 4 / 4;
    width: 176px;
    height: 143px;
  }
  .div4 {
    grid-area: 1 / 3 / 3 / 4;
    width: 176px;
    height: 258px;
  }
  .div5 {
    grid-area: 2 / 1 / 4 / 2;
    width: 176px;
    height: 258px;
  }
  .home-hotel-details-btn-wrapper {
    gap: 14px;
  }
}

@media screen and (min-width: 1440px) {
  .home-hotel-details {
    padding-top: 44px;
    padding-bottom: 60px;
  }
  .home-hotel-details-contant-wrapper {
    margin-bottom: 0;
  }
  .home-hotel-details-desktop-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }
  .home-hotel-details-btn-desktop {
    display: flex;
    gap: 14px;
  }
  .home-hotel-details-btn-wrapper {
    display: none;
  }
  .home-hotel-details-gallery-grid {
    display: grid;
    grid-template-columns: 320px 420px 320px;
    grid-template-rows: repeat(2, 260px);
    grid-column-gap: 32px;
    grid-row-gap: 28px;
    justify-content: center;
  }
  .div1 {
    grid-area: 1 / 1 / 2 / 2;
    width: 320px;
    height: 260px;
  }
  .div2 {
    grid-area: 1 / 2 / 3 / 3;
    width: 420px;
    height: 548px;
  }
  .div3 {
    grid-area: 2 / 3 / 3 / 4;
    width: 320px;
    height: 260px;
  }
  .div4 {
    grid-area: 1 / 3 / 2 / 4;
    width: 320px;
    height: 260px;
    overflow: hidden;
  }
  .div5 {
    grid-area: 2 / 1 / 3 / 2;
    width: 320px;
    height: 260px;
    overflow: hidden;
  }
}
