.home-hotel-details {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--dark-color);
}
.home-hotel-details-contant-wrapper {
  margin-bottom: 33px;
}
.home-hotel-details-btn-desktop {
  display: none;
}
.home-hotel-details-title {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #f7f7f7;
}
.home-hotel-details-text {
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #f7f7f7;
}
.home-hotel-details-btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.home-hotel-details .img-one {
  max-width: 335px;
  margin-bottom: 27px;
}
.home-hotel-details-gallery-grid {
  display: none;
}

/* home-hotel-details-slider */

.home-hotel-details-slider {
  position: relative;
  margin-bottom: 82px;
}
.home-hotel-details-slider .slick-track {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.home-hotel-details-slider-item {
  width: 158px;
  transition: all 500ms ease;
}
.home-hotel-details-slider .slick-arrow {
  position: absolute;
  top: 100%;
  transform: translateY(18px);
  z-index: 10;
  width: 24px;
  height: 24px;
}
.home-hotel-details-slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}
.home-hotel-details-slider .slick-arrow.slick-prev {
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath stroke='%23F7F7F7' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.8' d='M14.666 16.667 9.999 12l4.667-4.666'/%3E%3C/svg%3E");
}
.home-hotel-details-slider .slick-arrow.slick-next {
  right: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath stroke='%23F7F7F7' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.8' d='m9.331 16.668 4.667-4.666-4.667-4.667'/%3E%3C/svg%3E%0A");
  right: 80%;
}
.slick-next:before {
  content: '';
}
.slick-prev:before {
  content: '';
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .home-hotel-details-slider {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 82px;
  }
  .home-hotel-details-slider-img {
    max-width: 158px;
  }
}

@media screen and (min-width: 768px) {
  .home-hotel-details {
    padding-top: 44px;
    padding-bottom: 44px;
  }
  .home-hotel-details-contant-wrapper {
    display: flex;
    max-width: 602px;
    align-items: center;
    gap: 32px;
    margin-bottom: 80px;
  }
  .home-hotel-details-title {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 68px;
  }
  .home-hotel-details-slider,
  .home-hotel-details .img-one {
    display: none;
  }
  .home-hotel-details-gallery-grid {
    display: grid;
    grid-template-columns: 176px 320px 176px;
    grid-template-rows: 143px 1fr 143px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    margin-bottom: 40px;
  }

  .div1 {
    grid-area: 1 / 1 / 2 / 2;
    width: 176px;
    height: 143px;
  }
  .div2 {
    grid-area: 1 / 2 / 4 / 3;
    width: 320px;
    height: 417px;
  }
  .div3 {
    grid-area: 3 / 3 / 4 / 4;
    width: 176px;
    height: 143px;
  }
  .div4 {
    grid-area: 1 / 3 / 3 / 4;
    width: 176px;
    height: 258px;
  }
  .div5 {
    grid-area: 2 / 1 / 4 / 2;
    width: 176px;
    height: 258px;
  }
  .home-hotel-details-btn-wrapper {
    gap: 14px;
  }
}

@media screen and (min-width: 1440px) {
  .home-hotel-details {
    padding-top: 44px;
    padding-bottom: 60px;
    max-width: 1440px;
    margin: 0 auto;
  }
  .home-hotel-details-contant-wrapper {
    margin-bottom: 0;
  }
  .home-hotel-details-desktop-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }
  .home-hotel-details-btn-desktop {
    display: flex;
    gap: 14px;
  }
  .home-hotel-details-btn-wrapper {
    display: none;
  }
  .home-hotel-details-gallery-grid {
    display: grid;
    grid-template-columns: 320px 420px 320px;
    grid-template-rows: repeat(2, 260px);
    grid-column-gap: 32px;
    grid-row-gap: 28px;
    justify-content: center;
  }
  .div1 {
    grid-area: 1 / 1 / 2 / 2;
    width: 320px;
    height: 260px;
  }
  .div2 {
    grid-area: 1 / 2 / 3 / 3;
    width: 420px;
    height: 548px;
  }
  .div3 {
    grid-area: 2 / 3 / 3 / 4;
    width: 320px;
    height: 260px;
  }
  .div4 {
    grid-area: 1 / 3 / 2 / 4;
    width: 320px;
    height: 260px;
    overflow: hidden;
  }
  .div5 {
    grid-area: 2 / 1 / 3 / 2;
    width: 320px;
    height: 260px;
    overflow: hidden;
  }
}
