.home-restaurant-details {
  padding-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .home-restaurant-details {
    padding-bottom: 80px;
  }
}

.home-restaurant-details-btn-desktop {
  display: none;
}
.home-restaurant-details-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  margin-bottom: 24px;
}
.home-restaurant-details-content-wrapper {

}

.home-restaurant-details-desktop-wrapper{
  margin-bottom: 32px;
  }

.home-restaurant-details-text {
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.home-restaurant-details-slider {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 18px;
}
.home-restaurant-details-slider-wrapper {
  width: 158px;
  height: 201px;
}
.home-restaurant-details-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 0 auto;
  margin-top: 82px;
}
.home-restaurant-details-slider-desk {
  display: none;
}

@media screen and (max-width: 767px) {
  .home-restaurant-details-content-wrapper {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .home-restaurant-details-title {
    font-weight: 500;
    font-size: 68px;
    line-height: 1;
    letter-spacing: -0.02em;
    margin-bottom: 0;
  }
  .home-restaurant-details-text {
    width: 221px;
  }
  .home-restaurant-details-slider-wrapper {
    width: 336px;
    height: 309px;
  }
  .home-restaurant-details-btn-wrapper {
    align-items: flex-start;
  }
  .home-restaurant-details-content-wrapper {
    align-items: center;

  }
  .home-restaurant-details-desktop-wrapper{
        margin-bottom: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .home-restaurant-details {
    position: relative;
    padding-bottom: 106px;
  }
  .home-restaurant-details-content-wrapper {
    display: flex;
    align-items: center;
  }
  .home-restaurant-details-slider {
    display: none;
  }
  .home-restaurant-details-slider-desk {
    display: flex;
  }
  .home-restaurant-details-btn-wrapper {
    display: none;
  }
  .home-restaurant-details-desktop-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 125px;
  }
  .home-restaurant-details-btn-desktop {
    display: flex;
    gap: 14px;
  }
}

@media screen and (max-width: 767px) {
  .home-restaurant-details-btn-wrapper {
    margin-top: 82px;
  }
}

@media screen and (min-width: 768px) {
  .home-restaurant-details-btn-wrapper {
    margin-top: 108px;
  }
}

/* -------------- SLIDER --------------- */
.slick-slider {
  min-width: 0;
}

.home-restaurantdetails-slider-item {
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .home-restaurantdetails-slider-item {
    margin-right: 32px;
  }
}

.home-restaurantdetails-slider {
  position: relative;
}

.home-restaurantdetails-slider-item-desktop {
  display: none;
}

.home-restaurantdetails-slider .slick-arrow.slick-prev {
  right: 0;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.184 22.851c0.347-0.347 0.347-0.91 0-1.257l-5.594-5.594 5.594-5.594c0.347-0.347 0.347-0.91 0-1.257s-0.91-0.347-1.257 0l-6.222 6.222c-0.347 0.347-0.347 0.91 0 1.257l6.222 6.222c0.347 0.347 0.91 0.347 1.257 0z' fill='121212'%3E%3C/path%3E%3C/svg%3E")
    0 0 / 100% no-repeat;
  top: 100%;
  left: 28px;
  margin-top: 18px;
  transform: translateX(calc(50% - 36px - 10px));
}

.home-restaurantdetails-slider .slick-arrow.slick-next {
  right: 0;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.816 22.851c-0.347-0.347-0.347-0.91 0-1.257l5.594-5.594-5.594-5.594c-0.347-0.347-0.347-0.91 0-1.257s0.91-0.347 1.257 0l6.222 6.222c0.347 0.347 0.347 0.91 0 1.257l-6.222 6.222c-0.347 0.347-0.91 0.347-1.257 0z' fill='121212'%3E%3C/path%3E%3C/svg%3E")
    0 0 / 100% no-repeat;
  top: 100%;
  left: -25px;
  margin-top: 18px;
  transform: translateX(calc(50% + 36px + 10px));
}

@media screen and (min-width: 768px) {
  .home-restaurantdetails-slider .slick-arrow.slick-prev {
    right: 0;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.184 22.851c0.347-0.347 0.347-0.91 0-1.257l-5.594-5.594 5.594-5.594c0.347-0.347 0.347-0.91 0-1.257s-0.91-0.347-1.257 0l-6.222 6.222c-0.347 0.347-0.347 0.91 0 1.257l6.222 6.222c0.347 0.347 0.91 0.347 1.257 0z' fill='121212'%3E%3C/path%3E%3C/svg%3E")
      0 0 / 100% no-repeat;
    top: 100%;
    left: 34px;
    margin-top: 32px;
    transform: translateX(calc(50% - 36px - 16px));
  }
  .home-restaurantdetails-slider-item-desktop {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .home-restaurantdetails-slider .slick-arrow.slick-prev {
    right: 0;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.184 22.851c0.347-0.347 0.347-0.91 0-1.257l-5.594-5.594 5.594-5.594c0.347-0.347 0.347-0.91 0-1.257s-0.91-0.347-1.257 0l-6.222 6.222c-0.347 0.347-0.347 0.91 0 1.257l6.222 6.222c0.347 0.347 0.91 0.347 1.257 0z' fill='121212'%3E%3C/path%3E%3C/svg%3E")
      0 0 / 100% no-repeat;
    top: 100%;
    left: 50%;
    margin-top: 51px;
    transform: translateX(calc(50% - 36px - 16px));
  }
  .home-restaurantdetails-slider-item-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .home-restaurantdetails-slider .slick-arrow.slick-next {
    right: 0;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.816 22.851c-0.347-0.347-0.347-0.91 0-1.257l5.594-5.594-5.594-5.594c-0.347-0.347-0.347-0.91 0-1.257s0.91-0.347 1.257 0l6.222 6.222c0.347 0.347 0.347 0.91 0 1.257l-6.222 6.222c-0.347 0.347-0.91 0.347-1.257 0z' fill='121212'%3E%3C/path%3E%3C/svg%3E")
      0 0 / 100% no-repeat;
    top: 100%;
    left: 0px;
    margin-top: 32px;
    transform: translateX(calc(50% + 36px + 16px));
  }
}

@media screen and (min-width: 1440px) {
  .home-restaurantdetails-slider .slick-arrow.slick-next {
    right: 0;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.816 22.851c-0.347-0.347-0.347-0.91 0-1.257l5.594-5.594-5.594-5.594c-0.347-0.347-0.347-0.91 0-1.257s0.91-0.347 1.257 0l6.222 6.222c0.347 0.347 0.347 0.91 0 1.257l-6.222 6.222c-0.347 0.347-0.91 0.347-1.257 0z' fill='121212'%3E%3C/path%3E%3C/svg%3E")
      0 0 / 100% no-repeat;
    top: 100%;
    left: 47%;
    margin-top: 51px;
    transform: translateX(calc(50% + 36 px + 16px));
  }
}

.home-restaurantdetails-slider .slick-arrow {
  position: absolute;
  width: 36px;
  height: 36px;
}

.slick-prev.slick-disabled,
.slick-next.slick-disabled {
  opacity: 0.3;
}

.slider__item-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .slick-prev.slick-disabled,
  .slick-next.slick-disabled {
    opacity: 0.3;
  }
  .slider__item-desktop {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .home-restaurantdetails-slider .slick-arrow {
    top: 100%;
  }
  .slider__item-desktop {
    margin-right: 32px;
    display: block;
  }
}

.slick-prev:before {
  content: '';
}
.slick-next:before {
  content: '';
}
