<section class="section room-amenities">
  <div class="container ">
    <h2 class="room-amenities-title visually-hidden">Room amenities</h2>
    <ul class="room-amenities-main-list">
      <li class="room-amenities-main-item">
        <h3 class="room-amenities-title">General Amenities & Facilities:</h3>
        <ul class="room-amenities-list">
          <li class="room-amenities-item">
            <span>24-hour front desk service</span>
          </li>
          <li class="room-amenities-item"><span>Daily housekeeping</span></li>
          <li class="room-amenities-item">
            <span>Free Wi-Fi throughout the hotel</span>
          </li>
          <li class="room-amenities-item"><span>Elevator access</span></li>
          <li class="room-amenities-item"><span>Luggage storage</span></li>
          <li class="room-amenities-item">
            <span>Non-smoking rooms available</span>
          </li>
          <li class="room-amenities-item">
            <span>Meeting rooms for business and events</span>
          </li>
          <li class="room-amenities-item">
            <span>On-site parking (surcharge)</span>
          </li>
          <li class="room-amenities-item"><span>Concierge services</span></li>
        </ul>
      </li>
      <li class="room-amenities-main-item">
        <h3 class="room-amenities-title">Bathroom:</h3>
        <ul class="room-amenities-list">
          <li class="room-amenities-item">
            <span>Private bathroom with shower</span>
          </li>
          <li class="room-amenities-item">
            <span>Complimentary toiletries</span>
          </li>
          <li class="room-amenities-item"><span>Hair dryer</span></li>
          <li class="room-amenities-item"><span>Fresh towels daily</span></li>
          <li class="room-amenities-item">
            <span>Deluxe bathrobes (in some room categories)</span>
          </li>
        </ul>
      </li>
      <li class="room-amenities-main-item">
        <h3 class="room-amenities-title">Bedroom:</h3>
        <ul class="room-amenities-list">
          <li class="room-amenities-item">
            <span>Comfortable beds with high-quality linens</span>
          </li>
          <li class="room-amenities-item"><span>Blackout curtains</span></li>
          <li class="room-amenities-item">
            <span>Climate control (air conditioning and heating)</span>
          </li>
          <li class="room-amenities-item"><span>Safe for valuables</span></li>
          <li class="room-amenities-item">
            <span>Writing desk and chair</span>
          </li>
          <li class="room-amenities-item">
            <span>Flat-screen TV with cable channels</span>
          </li>
        </ul>
      </li>
      <li class="room-amenities-main-item">
        <h3 class="room-amenities-title">Kitchen:</h3>
        <ul class="room-amenities-list">
          <li class="room-amenities-item">
            <span>In-room kitchenette (in some room categories)</span>
          </li>
          <li class="room-amenities-item"><span>Refrigerator</span></li>
          <li class="room-amenities-item"><span>Microwave</span></li>
          <li class="room-amenities-item"><span>Electric kettle</span></li>
          <li class="room-amenities-item">
            <span>Cooking utensils and cutlery</span>
          </li>
          <li class="room-amenities-item">
            <span>Dining table and chairs</span>
          </li>
        </ul>
      </li>
      <li class="room-amenities-main-item">
        <h3 class="room-amenities-title">Media:</h3>
        <ul class="room-amenities-list">
          <li class="room-amenities-item">
            <span>Flat-screen TV with cable channels</span>
          </li>
          <li class="room-amenities-item"><span>High-speed Wi-Fi</span></li>
          <li class="room-amenities-item"><span>iPod docking station</span></li>
          <li class="room-amenities-item"><span>Speaker system</span></li>
          <li class="room-amenities-item">
            <span>Electrical outlets for charging devices.</span>
          </li>
        </ul>
      </li>
    </ul>
    <div class="room-amenities-holder">
      <div class="room-amenities-img-1-wrap">
        <img
          srcset="
            ././img/room/amenities/rectangle-01-mobile-1x.jpg  207w,
            ././img/room/amenities/rectangle-01-mobile-2x.jpg  414w,
            ././img/room/amenities/rectangle-01-tablet-1x.jpg  365w,
            ././img/room/amenities/rectangle-01-tablet-2x.jpg  730w,
            ././img/room/amenities/rectangle-01-desktop-1x.jpg 439w,
            ././img/room/amenities/rectangle-01-desktop-2x.jpg 878w
          "
          sizes="(min-width: 1440px) 439px, (min-width: 768px) 365px, 207px"
          src="././img/room/amenities/rectangle-01-mobile-1x.jpg"
          alt="Bathroom"
        />
      </div>
      <div class="room-amenities-img-2-wrap">
        <img
          srcset="
            ././img/room/amenities/rectangle-02-mobile-1x.png  259w,
            ././img/room/amenities/rectangle-02-mobile-2x.png  518w,
            ././img/room/amenities/rectangle-02-tablet-1x.png  408w,
            ././img/room/amenities/rectangle-02-tablet-2x.png  816w,
            ././img/room/amenities/rectangle-02-desktop-1x.png 496w,
            ././img/room/amenities/rectangle-02-desktop-2x.png 992w
          "
          sizes="(min-width: 1440px) 496px, (min-width: 768px) 408px, 259px"
          src="././img/room/amenities/rectangle-02-mobile-1x.jpg"
          alt="Bathroom"
        />
      </div>
      <button
        type="button"
        class="btn btn-dark-bg room-amenities-btn js-open-modal"
        data-modal="book-room"
      >
        Book a room
      </button>
    </div>
  </div>
</section>
