<section class="hero-room">
  <div class="container">
    <div class="hero-room-container">
      <h1 class="hero-room-title">
        DOUBLE <br /><span class="ital">LUXURY</span> ROOM
      </h1>
      <button class="hero-room-btn btn btn-light-bg  js-open-modal"  data-modal="room-prices">view prices</button>
      <img
        class="hero-room-img"
        src="/img/room/hero/image-01-mobile-1x.jpg"
        alt=""
      />
      <p class="hero-room-text">
        The Mimino hotel features spacious and stylish double luxury rooms with
        modern amenities for a comfortable stay.
      </p>
    </div>
  </div>
</section>