<section class="hero-room">
  <div class="hero-room-page container">
    <div class="hero-room-container">
      <h1 class="hero-room-title animate__lightSpeedInLeft animate__animated">
        DOUBLE <br /><span class="ital">LUXURY</span> ROOM
      </h1>
      <button
        class="hero-room-btn btn btn-light-bg js-open-modal"
        data-modal="room-prices"
      >
        view prices
      </button>
      <div class="hero-room-wrapper hero-room-slider">
        <picture class="hero-room-picture hero-room-slider-item">
          <source
            srcset="
              /img/room/hero/image-01-desktop-1x.jpg 496w,
              /img/room/hero/image-01-desktop-2x.jpg 992w
            "
            media="(min-width: 1440px)"
            sizes="496px"
          />
          <source
            srcset="
              /img/room/hero/image-01-tablet-1x.jpg 408w,
              /img/room/hero/image-01-tablet-2x.jpg 816w
            "
            media="(min-width: 768px)"
            sizes="408px"
          />
          <img
            srcset="
              /img/room/hero/image-01-mobile-1x.jpg 250w,
              /img/room/hero/image-01-mobile-2x.jpg 500w
            "
            sizes="250px"
            src="/img/room/hero/image-01-mobile-1x.jpg"
            alt="Photo of the hotel"
          />
        </picture>
        <picture class="hero-room-picture hero-room-slider-item">
          <source
            srcset="
              /img/room/hero/image-02-desktop-1x.jpg 496w,
              /img/room/hero/image-02-desktop-2x.jpg 992w
            "
            media="(min-width: 1440px)"
            sizes="496px"
          />
          <source
            srcset="
              /img/room/hero/image-02-tablet-1x.jpg 408w,
              /img/room/hero/image-02-tablet-2x.jpg 816w
            "
            media="(min-width: 768px)"
            sizes="408px"
          />
          <img
            srcset="
              /img/room/hero/image-02-mobile-1x.jpg 250w,
              /img/room/hero/image-02-mobile-2x.jpg 500w
            "
            sizes="250px"
            src="/img/room/hero/image-02-mobile-1x.jpg"
            alt="Photo of the hotel"
          />
        </picture>
        <picture class="hero-room-picture hero-room-slider-item">
          <source
            srcset="
              /img/room/hero/image-03-desktop-1x.jpg 496w,
              /img/room/hero/image-03-desktop-2x.jpg 992w
            "
            media="(min-width: 1440px)"
            sizes="496px"
          />
          <source
            srcset="
              /img/room/hero/image-03-tablet-1x.jpg 408w,
              /img/room/hero/image-03-tablet-2x.jpg 816w
            "
            media="(min-width: 768px)"
            sizes="408px"
          />
          <img
            srcset="
              /img/room/hero/image-03-mobile-1x.jpg 250w,
              /img/room/hero/image-03-mobile-2x.jpg 500w
            "
            sizes="250px"
            src="/img/room/hero/image-03-mobile-1x.jpg"
            alt="Photo of the hotel"
          />
        </picture>
        <picture class="hero-room-picture hero-room-slider-item">
          <source
            srcset="
              /img/room/hero/image-04-desktop-1x.jpg 496w,
              /img/room/hero/image-04-desktop-2x.jpg 992w
            "
            media="(min-width: 1440px)"
            sizes="496px"
          />
          <source
            srcset="
              /img/room/hero/image-04-tablet-1x.jpg 408w,
              /img/room/hero/image-04-tablet-2x.jpg 816w
            "
            media="(min-width: 768px)"
            sizes="408px"
          />
          <img
            srcset="
              /img/room/hero/image-04-mobile-1x.jpg 250w,
              /img/room/hero/image-04-mobile-2x.jpg 500w
            "
            sizes="250px"
            src="/img/room/hero/image-04-mobile-1x.jpg"
            alt="Photo of the hotel"
          />
        </picture>
        <picture class="hero-room-picture hero-room-slider-item">
          <source
            srcset="
              /img/room/hero/image-05-desktop-1x.jpg 496w,
              /img/room/hero/image-05-desktop-2x.jpg 992w
            "
            media="(min-width: 1440px)"
            sizes="496px"
          />
          <source
            srcset="
              /img/room/hero/image-05-tablet-1x.jpg 408w,
              /img/room/hero/image-05-tablet-2x.jpg 816w
            "
            media="(min-width: 768px)"
            sizes="408px"
          />
          <img
            srcset="
              /img/room/hero/image-05-mobile-1x.jpg 250w,
              /img/room/hero/image-05-mobile-2x.jpg 500w
            "
            sizes="250px"
            src="/img/room/hero/image-05-mobile-1x.jpg"
            alt="Photo of the hotel"
          />
        </picture>
        <picture class="hero-room-picture hero-room-slider-item">
          <source
            srcset="
              /img/room/hero/image-06-desktop-1x.jpg 496w,
              /img/room/hero/image-06-desktop-2x.jpg 992w
            "
            media="(min-width: 1440px)"
            sizes="496px"
          />
          <source
            srcset="
              /img/room/hero/image-06-tablet-1x.jpg 408w,
              /img/room/hero/image-06-tablet-2x.jpg 816w
            "
            media="(min-width: 768px)"
            sizes="408px"
          />
          <img
            srcset="
              /img/room/hero/image-06-mobile-1x.jpg 250w,
              /img/room/hero/image-06-mobile-2x.jpg 500w
            "
            sizes="250px"
            src="/img/room/hero/image-06-mobile-1x.jpg"
            alt="Photo of the hotel"
          />
        </picture>
      </div>
      <div class="hero-room-wrap-bottom">
        <div class="hero-room-slider-arrows">
          <svg
            class="hero-room-slider-icon hero-room-prev"
            width="36"
            height="36"
          >
            <use href="/img/sprite.svg#icon-button-arrow-left"></use>
          </svg>
          <svg
            class="hero-room-slider-icon hero-room-next"
            width="36"
            height="36"
          >
            <use href="/img/sprite.svg#icon-button-arrow-right"></use>
          </svg>
        </div>
        <p class="hero-room-text">
          The Mimino hotel features spacious and stylish double luxury rooms
          with modern amenities for a comfortable stay.
        </p>
      </div>
    </div>
  </div>
</section>
