<section class="section four-seater-room">
	<div class="container container-four-seater-room">
		<ul class="list four-seater-room-images">
			<li class="four-seater-room-img-1">
				<picture>
					<source srcset="./img/hotel/four-seater-room/img3-mobile-1x.jpg 1x, ./img/hotel/four-seater-room/img3-mobile-2x.jpg 2x"
					media="(max-width: 767px)"/>
					<source srcset="./img/hotel/four-seater-room/img3-tablet-1x.jpg 1x, ./img/hotel/four-seater-room/img3-tablet-2x.jpg 2x"
					media="(max-width: 1439px)"/>
					<source srcset="./img/hotel/four-seater-room/img3-desktop-1x.jpg 1x, ./img/hotel/four-seater-room/img3-desktop-2x.jpg 2x"
					media="(min-width: 1440px)"/>
					<img src="./img/hotel/four-seater-room/img3-desktop-1x.jpg"
					alt="bathroom" />
				</picture>
			</li>
			<li class="four-seater-room-img">
				<picture>
					<source srcset="./img/hotel/four-seater-room/img2-mobile-1x.jpg 1x, ./img/hotel/four-seater-room/img2-mobile-2x.jpg 2x"
					media="(max-width: 767px)"/>
					<source srcset="./img/hotel/four-seater-room/img2-tablet-1x.jpg 1x, ./img/hotel/four-seater-room/img2-tablet-2x.jpg 2x"
					media="(max-width: 1439px)"/>
					<source srcset="./img/hotel/four-seater-room/img2-desktop-1x.jpg 1x, ./img/hotel/four-seater-room/img2-desktop-2x.jpg 2x"
					media="(min-width: 1440px)"/>
					<img src="./img/hotel/four-seater-room/img2-desktop-1x.jpg"
					alt="bedroom" />
				</picture>
			</li>
			<li class="four-seater-room-img-3">
				<picture>
					<source srcset="./img/hotel/four-seater-room/img1-mobile-1x.jpg 1x, ./img/hotel/four-seater-room/img1-mobile-2x.jpg 2x"
					media="(max-width: 767px)"/>
					<source srcset="./img/hotel/four-seater-room/img1-tablet-1x.jpg 1x, ./img/hotel/four-seater-room/img1-tablet-2x.jpg 2x"
					media="(max-width: 1439px)"/>
					<source srcset="./img/hotel/four-seater-room/img1-desktop-1x.jpg 1x, ./img/hotel/four-seater-room/img1-desktop-2x.jpg 2x"
					media="(min-width: 1440px)"/>
					<img src="./img/hotel/four-seater-room/img1-desktop-1x.jpg"
					alt="kitchen" />
				</picture>
			</li>
		</ul>
		<div class="four-seater-room-details">
			<h2 class="four-seater-room-title">four-seater room</h2>
			<p class="four-seater-room-text">
				Our 4-person room is perfect for small groups, offering comfort and convenience with 4 comfortable beds, ample storage, flat-screen TV, mini-fridge, coffee maker, desk and chair, air-conditioning, heating, and soundproof walls. Book now for a memorable stay.
			</p>
			<div class="four-seater-room-info">
					<a href="./room.html" class="btn btn-light-bg four-seater-room-btn">more details</a>
					<button type="button" class="btn btn-light-bg js-open-modal" data-modal="room-prices">view prices</button>
			</div>
		</div >
	</div >
</section>
