<section class="section triple-room">
	<div class="container container-triple-room">
		<ul class="list triple-room-images">
			<li class="triple-room-img-1">
				<picture>
					<source srcset="./img/hotel/triple-room/img3-mobile-1x.jpg 1x, ./img/hotel/triple-room/img3-mobile-2x.jpg 2x"
					media="(max-width: 767px)"/>
					<source srcset="./img/hotel/triple-room/img3-tablet-1x.jpg 1x, ./img/hotel/triple-room/img3-tablet-2x.jpg 2x"
					media="(max-width: 1439px)"/>
					<source srcset="./img/hotel/triple-room/img3-desktop-1x.jpg 1x, ./img/hotel/triple-room/img3-desktop-2x.jpg 2x"
					media="(min-width: 1440px)"/>
					<img src="./img/hotel/triple-room/img3-desktop-1x.jpg"
					alt="bathroom" />
				</picture>
			</li>
			<li class="triple-room-img-2">
				<picture>
					<source srcset="./img/hotel/triple-room/img2-mobile-1x.jpg 1x, ./img/hotel/triple-room/img2-mobile-2x.jpg 2x"
					media="(max-width: 767px)"/>
					<source srcset="./img/hotel/triple-room/img2-tablet-1x.jpg 1x, ./img/hotel/triple-room/img2-tablet-2x.jpg 2x"
					media="(max-width: 1439px)"/>
					<source srcset="./img/hotel/triple-room/img2-desktop-1x.jpg 1x, ./img/hotel/triple-room/img2-desktop-2x.jpg 2x"
					media="(min-width: 1440px)"/>
					<img src="./img/hotel/triple-room/img2-desktop-1x.jpg"
					alt="bedroom" />
				</picture>
			</li>
			<li class="triple-room-img-3">
				<picture>
					<source srcset="./img/hotel/triple-room/img1-mobile-1x.jpg 1x, ./img/hotel/triple-room/img1-mobile-2x.jpg 2x"
					media="(max-width: 767px)"/>
					<source srcset="./img/hotel/triple-room/img1-tablet-1x.jpg 1x, ./img/hotel/triple-room/img1-tablet-2x.jpg 2x"
					media="(max-width: 1439px)"/>
					<source srcset="./img/hotel/triple-room/img1-desktop-1x.jpg 1x, ./img/hotel/triple-room/img1-desktop-2x.jpg 2x"
					media="(min-width: 1440px)"/>
					<img src="./img/hotel/triple-room/img1-desktop-1x.jpg"
					alt="kitchen" />
				</picture>
			</li>
		</ul>
		<div class="triple-room-details">
			<div class="triple-container">
				<h2 class="triple-room-title">Triple Room</h2>
				<ul class="list triple-room-list">
					<li class="triple-room-item">
						<p class="triple-room-text">
							Escape to our spacious Triple Room, perfect for families or groups. Enjoy comfort with three beds, seating area, stunning views, flat-screen TVs, Wi-Fi, and mini-fridge.
						</p>
					</li>
					<li>
						<p class="triple-room-text">
							Rejuvenate in the en-suite bathroom with plush towels and toiletries. Book now for a memorable stay.
						</p>
					</li>
				</ul>
			</div >
			<div class="triple-room-info">
					<a href="./room.html" class="btn btn-light-bg triple-room-btn">more details</a>
					<button type="button" class="btn btn-light-bg js-open-modal" data-modal="room-prices">view prices</button>
			</div>
		</div >
	</div >
</section>
