/* ------------------HEADER------------------------ */
.home-header > header {
  width: auto;
  margin: 0 auto;
}
@media screen and (min-width:375px){
  .home-header > header{
    max-width: 375px;
  }
}
@media screen and (min-width:768px){
  .home-header > header{
    max-width: 768px;
  }
}
@media screen and (min-width:1440px){
  .home-header > header{
    max-width: 1440px;
  }
}
.home-header .header-menu-icon {
  stroke: var(--light-color);
}

.home-header .header-logo-title {
  color: var(--light-color);
}

.home-header .header-logo-text {
  color: #d8d8d8;
}

.home-header .social-icon {
  stroke: var(--light-color);
}

.home-header .desktop-nav-link {
  color: var(--light-color);
}

header {
  background-color: #fff;
}

.header-home {
  background-color: var(--dark-color);
}
.home-header  .header-container{
  position: absolute;
  width: 100%;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 0.5px solid rgba(247, 247, 247, 0.2);

}

.header-desktop-nav {
  display: none;
  z-index: 1;
}

.header-social {
  display: none;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  text-align: center;
  z-index: 1;
}

.header-button {
  background-color: transparent;
  border: transparent;
  width: 28px;
  height: 28px;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  position: relative;
}

.header-menu-icon {
  width: 100%;
  height: 100%;
  stroke: var(--dark-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-logo-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.18em;
  color: var(--dark-color);
  text-align: center;
  margin-bottom: 3px;
}

.header-logo-text {
  font-weight: 400;
  font-size: 6px;
  line-height: 1.33;
  letter-spacing: 0.18em;
  color: var(--dark-color);
}



/* -------------------SCREEN-375px---------------------- */

@media screen and (min-width: 375px) {
}

/* -------------------SCREEN-768px---------------------- */

@media screen and (min-width: 768px) {
  .header-container {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .header-social {
    display: flex;
    gap: 23px;
  }

  .header-button {
    width: 32px;
    height: 32px;
  }

  .header-logo-title {
    font-size: 20px;
    line-height: 1.2;
  }

  .header-logo-text {
    font-size: 8px;
    line-height: 1.25;
  }

  
}

/* -------------------SCREEN-1440px---------------------- */

@media screen and (min-width: 1440px) {
  .header-button {
    display: none;
  }

  .header-desktop-nav {
    display: inline-block;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
  }

  .desktop-nav-list {
    display: flex;
    gap: 32px;
  }

  .desktop-nav-link {
    line-height: 1.29;
    letter-spacing: 0.05em;
  }

  .home {
    position: relative;
  }

  .hotel {
    position: relative;
  }

  .restaurant {
    position: relative;
  }

  .home-header .home::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    top: 20px;
    left: 50%;
    background: var(--light-color);
  }

  .restaurant-header .restaurant::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    top: 20px;
    left: 50%;
    background: var(--dark-color);
  }

  .hotel-header .hotel::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    top: 20px;
    left: 50%;
    background: var(--dark-color);
  }

}
