/* ------------------HEADER------------------------ */
.home-header > header {
  background-color: var(--dark-color);
}
.home-header .header-menu-icon {
  stroke: var(--light-color);
}

.home-header .header-logo-title {
  color: var(--light-color);
}

.home-header .header-logo-text {
  color: var(--light-color);
}

.home-header .social-icon {
  stroke: var(--light-color);
}

.home-header .desktop-nav-link {
  color: var(--light-color);
}

header {
  padding: 32px 0;
  background-color: #fff;
  position: relative;
}

.home-header::before {
  content: '';
  position: absolute;
  top: 78px;
  left: 0;
  width: 100%;
  height: 0.5px;
  background-color: rgba(247, 247, 247, 0.2);
}

header::before {
  content: '';
  position: absolute;
  top: 78px;
  left: 0;
  width: 100%;
  height: 0.5px;
  background-color: rgba(18, 18, 18, 0.3);
}

.header-home {
  background-color: var(--dark-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
}

.header-desktop-nav {
  display: none;
  z-index: 1;
}

.header-social {
  display: none;
}

.header-logo {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  text-align: center;
  z-index: 1;
}

.header-menu-icon {
  width: 100%;
  stroke: var(--dark-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-button {
  background-color: transparent;
  border: transparent;
  width: 21px;
  height: 14px;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  position: relative;
}

.header-logo-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.18em;
  color: var(--dark-color);
  text-align: center;
  margin-bottom: 3px;
}

.header-logo-text {
  font-weight: 400;
  font-size: 6px;
  line-height: 1.33;
  letter-spacing: 0.18em;
  color: var(--dark-color);
}

/* ----------------------HEADER-MENU------------------ */

.header-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 1;
  background-color: var(--dark-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 500ms cubic-bezier(0.5, 0, 0.5, 1);
  overflow-y: auto;
}

.header-menu.visually-hidden {
  transform: translateX(2000px);
}

.is-hidden {
  transform: translateX(-2000px);
}

.menu-head {
  display: flex;
  align-items: baseline;
  padding: 32px 40px 30px 32px;
  position: relative;
}
.menu-head::before {
  content: '';
  position: absolute;
  top: 78px;
  left: 0;
  width: 100%;
  height: 0.5px;
  background-color: rgba(247, 247, 247, 0.2);
}

.menu-button-close {
  background-color: transparent;
  border: transparent;
  width: 14px;
  height: 14px;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  position: relative;
  z-index: 1;
}

.header-menu-icon-close {
  width: 100%;
  stroke: var(--light-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-menu-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  margin: auto;
  text-align: center;
}

.header-menu-logo-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.18em;
  color: var(--light-color);
  text-align: center;
  margin-bottom: 3px;
}
.header-menu-logo-text {
  font-weight: 400;
  font-size: 6px;
  line-height: 1.33;
  letter-spacing: 0.18em;
  color: var(--light-color);
}

.menu-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-top: 128px;
}
.menu-navigation-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.05em;
  color: #f7f7f7;
}
.menu-social-mobile {
  display: flex;
  padding-left: 20px;
  padding-bottom: 20px;
  gap: 20px;
}

.social-icon {
  stroke: var(--dark-color);
  fill: transparent;
}

.menu-social-icon {
  stroke: var(--light-color);
  fill: transparent;
}

.menu-social {
  display: none;
}

/* -------------------SCREEN-375px---------------------- */

@media screen and (min-width: 375px) {
}

/* -------------------SCREEN-768px---------------------- */

@media screen and (min-width: 768px) {
  .menu-social-mobile {
    display: none;
  }

  .header-button {
    width: 24px;
    height: 16px;
  }

  .menu-social {
    display: flex;
    margin-left: auto;
    gap: 23px;
  }

  .header-social {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    gap: 23px;
  }

  .header-menu-icon-close {
    width: 16px;
    height: 16px;
  }

  .header-logo-title {
    font-size: 20px;
    line-height: 1.2;
  }

  .header-logo-text {
    font-size: 8px;
    line-height: 1.25;
  }

  .header-menu-logo-title {
    font-size: 20px;
    line-height: 1.2;
  }

  .header-menu-logo-text {
    font-size: 8px;
    line-height: 1.25;
  }

  .menu-navigation-title {
    font-size: 28px;
    line-height: 1.14;
  }

  .menu-navigation-title.restaurant {
    font-size: 24px;
  }

  .menu-navigation {
    margin-top: 240px;
  }
}

/* -------------------SCREEN-1440px---------------------- */

@media screen and (min-width: 1440px) {
  .header-button {
    display: none;
  }

  .header-desktop-nav {
    display: inline-block;
    position: relative;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  .desktop-nav-list {
    display: flex;
    gap: 32px;
  }

  .desktop-nav-link {
    line-height: 1.29;
    letter-spacing: 0.05em;
  }

  .home {
    position: relative;
  }

  .hotel {
    position: relative;
  }

  .restaurant {
    position: relative;
  }

  .home-header .home::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    top: 20px;
    left: 50%;
    background: var(--light-color);
  }

  .restaurant-header .restaurant::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    top: 20px;
    left: 50%;
    background: var(--dark-color);
  }

  .hotel-header .hotel::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    top: 20px;
    left: 50%;
    background: var(--dark-color);
  }

  .is-hidden {
    display: none;
  }
}
