<div class="backdrop" data-modal>
    <div class="modal">
        <button class="modal-close-btn" type="button" data-modal-close>
            Х<!-- <svg class="modal-close-btn-icon" width="32" height="32">
                <use href="./images/sprite.svg#icon-burger-close"></use>
            </svg> -->
        </button>
        <form action="#">
            <h4 class="call-to-action">BOOK <span class="ital">A TABLE</span></h4>
        
            <label class="modal-form-field">
                <input type="text" name="user_name" class="modal-form-input" pattern="^[a-zA-Zа-яА-Я]+$" minlength="2"
                    placeholder="Your name *" required>
                <span class="modal-form-input-desc">who should book a table for?</span>           
            </label>

            <label class="modal-form-field">
                <input type="number" name="user_quantity" class="modal-form-input" placeholder="number of people *" required>
                <span class="modal-form-input-desc">number of people</span>
            </label>
            
            <label class="modal-form-field">
                <input type="date" name="user_date" class="modal-form-input" required>
                <span class="modal-form-input-desc">what date to book?</span>
            </label>

            <label class="modal-form-field">
                <input type="tel" name="user_tel" class="modal-form-input" pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                    title="xxx-xxx-xx-xx" placeholder="Phone *" required>
                <span class="modal-form-input-desc">phone number</span>
            </label>
            <button class="btn btn-dark-bg" type="submit">MAKE A RESERVATION</button>
        </form>
    </div>
</div>