<header>
  <div class="container header-container">
    <a href="./index.html" class="header-logo">
      <h3 class="header-logo-title">Mimino</h3>
      <p class="header-logo-text">restaurant-hotel complex</p>
    </a>
    <button data-Menu-open type="button" class="header-button">
      <svg class="header-menu-icon">
        <use href="/img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
    <nav class="header-desktop-nav">
      <ul class="desktop-nav-list list">
        <li class="desktop-nav-item">
          <a href="./index.html" class="desktop-nav-link home link">home</a>
        </li>
        <li class="desktop-nav-item">
          <a href="./hotel.html" class="desktop-nav-link hotel link">hotel</a>
        </li>

        <li class="desktop-nav-item">
          <a href="./restaurant.html" class="desktop-nav-link restaurant  link"
            >restaurant</a
          >
        </li>
      </ul>
    </nav>

    <ul class="header-social list">
      <li class="header-social-item">
        <a
          href="https://www.instagram.com/"
          target="_blank"
          class="social-link"
        >
          <svg class="social-icon" width="24px" height="24px">
            <use href="/img/sprite.svg#icon-instagram-mobile"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a
          href="https://uk-ua.facebook.com/"
          target="_blank"
          class="social-link"
        >
          <svg class="social-icon" width="24px" height="24px">
            <use href="/img/sprite.svg#icon-facebook-mobile"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a
          href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoidWsifQ%3D%3D%22%7D"
          target="_blank"
          class="social-link"
        >
          <svg class="social-icon" width="24px" height="24px">
            <use href="/img/sprite.svg#icon-twitter-mobile"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
 
</header>
