<div data-Menu class="header-menu is-hidden">
    <div class="menu-content">
      <div class="menu-head container">
        <button data-Menu-close type="button" class="menu-button-close">
          <svg class="header-menu-icon-close">
            <use href="/img/sprite.svg#icon-menu-close"></use>
          </svg>
        </button>
        <a class="header-menu-logo">
          <h3 class="header-menu-logo-title">Mimino</h3>
          <p class="header-menu-logo-text">restaurant-hotel complex</p>
        </a>
        <ul class="menu-social list">
          <li class="menu-social-item">
            <a
              href="https://www.instagram.com/"
              target="_blank"
              class="social-link"
            >
              <svg class="menu-social-icon" width="24px" height="24px">
                <use href="/img/sprite.svg#icon-instagram-mobile"></use>
              </svg>
            </a>
          </li>
          <li class="menu-social-item">
            <a
              href="https://uk-ua.facebook.com/"
              target="_blank"
              class="social-link"
            >
              <svg class="menu-social-icon" width="24px" height="24px">
                <use href="/img/sprite.svg#icon-facebook-mobile"></use>
              </svg>
            </a>
          </li>
          <li class="menu-social-item">
            <a
              href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoidWsifQ%3D%3D%22%7D"
              target="_blank"
              class="social-link"
            >
              <svg class="menu-social-icon" width="24px" height="24px">
                <use href="/img/sprite.svg#icon-twitter-mobile"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <nav class="menu-navigation">
        <a href="./index.html" class="menu-navigation-title">Home</a>
        <a href="./hotel.html" class="menu-navigation-title">Hotel</a>
        <a href="./restaurant.html" class="menu-navigation-title restaurant"
          >Restaurant</a
        >
      </nav>
    </div>
    <div>
      <ul class="menu-social-mobile list">
        <li class="menu-social-item">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            class="social-link"
          >
            <svg class="menu-social-icon" width="20px" height="20px">
              <use href="/img/sprite.svg#icon-instagram-mobile"></use>
            </svg>
          </a>
        </li>
        <li class="menu-social-item">
          <a
            href="https://uk-ua.facebook.com/"
            target="_blank"
            class="social-link"
          >
            <svg class="menu-social-icon" width="20px" height="20px">
              <use href="/img/sprite.svg#icon-facebook-mobile"></use>
            </svg>
          </a>
        </li>
        <li class="menu-social-item">
          <a
            href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoidWsifQ%3D%3D%22%7D"
            target="_blank"
            class="social-link"
          >
            <svg class="menu-social-icon" width="20px" height="20px">
              <use href="/img/sprite.svg#icon-twitter-mobile"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>