<!--! Щоб додали посилання на це мод.вікно: class="js-open-modal" data-modal="room-prices" -->
<!-- Для роботи з модалками style="visibility: visible; opacity: 1;" -->

<section>
    <!--! додали атрибут ідентифікації мод.вікна: data-modal="room-prices" -->
    <div class="modal prices-room" data-modal="room-prices">
        <!--! додали клас закриття мод.вікна: js-modal-close -->
        <button class="modal-close-btn js-modal-close" type="button" >
            <svg class="modal-close-btn-icon">
                <use href="/img/sprite.svg#modal-cross"></use>
            </svg>
        </button>

        <h4 class="call-to-action">Prices <span class="ital">per room</span></h4>
        
        <form action="#">
            <p class="room-category">Double suite</p>
            <div class="modal-form-wrapper">
                
                <!--* Варіант 1 - без кнопок -->
                <!-- <label class="modal-form-field">
                    <input type="number" name="user_quantity" class="modal-form-input" placeholder="1" min="1" max="365" required>
                    <span class="modal-form-input-desc">Number of nights</span>
                </label> -->
                <!--* Варіант 2 - з кнопками вверх-вниз -->
                <div class="modal-form-field number-input">
                    <input id="day-value" type="number" class="modal-form-input" name="night_quantity" min="1" max="365" required>
                    <button type="button" id="btn-up" class="up"></button>
                    <button type="button" id="btn-down" class="down"></button>
                    <span class="modal-form-input-desc">Number of nights</span>
                </div>

                <div class="modal-form-field">
                    <input readonly id="price-value" type="number" name="price" class="modal-form-input" placeholder="2 500">
                    <span class="modal-form-input-desc">UAH</span>
                </div>

            </div>
            
            <!--* Додано клас js-modal-close для закриття мод.вікна як сказано в ТЗ -->
            <button class="btn btn-dark-bg js-modal-close" type="submit">MAKE A RESERVATION</button>
        </form>
    </div>
    <!-- Фон під модальним вікном -->
    <div class="overlay js-overlay-modal"></div>
</section>