/* BASE */
@import url('./base/normalize.css');
@import url('./base/reset.css');
@import url('./base/common.css');
@import url('./base/fonts.css');
/* COMPONENT */
@import url('./components/container.css');
@import url('./components/modal/common.css');
@import url('./components/button.css');
@import url('./components/mobile-tablet-menu.css');
@import url('./components/scroll-button-up.css');


/* PAGES */
@import url('./pages/header.css');
@import url('./pages/footer.css');

/* HOME */
@import url('./pages/home/hero.css');
@import url('./pages/home/about-complex.css');
@import url('./pages/home/restaurants.css');
@import url('./pages/home/welcome-complex.css');
@import url('./pages/home/hotels-details.css');
@import url('./pages/home/location-contacts.css');
/* HOTEL-STYLE */
@import url('./pages/hotel/hero.css');
@import url('./pages/hotel/double-luxury-room.css');
@import url('./pages/hotel/triple-room.css');
@import url('./pages/hotel/four-seater-room.css');
/* RESTURANT STYLE */
@import url('./pages/restaurant/hero.css');
@import url('./pages/restaurant/about-kitchen.css');
@import url('./pages/restaurant/restaurant-menu.css');
/* ROOM STYLE */
@import url('./pages/room/hero.css');
@import url('./pages/room/amenities.css');
