<section class="section home-about">
  <div class="container">
    <!-- Restaurant-hotel complex -->

    <h2 class="home-about-title visually-hidden">About a complex</h2>
    <div class="home-about-list-wrapper restaurant-hotel">
      <ul class="home-about-list list">
        <li class="home-about-list-item img-one">
          <img src="" alt="Image of the complex" />
        </li>
        <li class="home-about-reviews">
          <div class="home-about-reviews-image-wrapper">
            <img
              src=""
              alt="Reviewer's image"
              class="home-about-reviews-image"
              width="41"
              height="41"
            />
          </div>
          <div class="home-about-reviews-content-wrapper">
            <b>Maria</b>
            <p>give rating <span>4.5</span></p>
          </div>
        </li>
        <li class="home-about-list-item img-two">
          <img src="" alt="Image of the complex" />
        </li>
      </ul>
      <h3 class="home-about-subtitle">restaurant-hotel complex</h3>
      <p class="home-about-text part-one">
        Indulge in a taste of luxury with every bite at Hotel Mimino. From the
        freshest seafood to the most succulent steaks, every dish is crafted
        with care to ensure that you enjoy a truly memorable dining experience.
      </p>
      <p class="home-about-text">
        Treat yourself to a taste of the good life and come dine with us today!
      </p>
    </div>

    <!-- Business class hotel -->

    <div class="home-about-list-wrapper business-class">
      <img src="" alt="Image of the business class hotel" class="img-one" />
      <div class="home-about-reviews">
        <div class="home-about-reviews-image-wrapper">
          <img src="" alt="Reviewer's image" />
        </div>
        <div class="home-about-reviews-content-wrapper">
          <b>Alexander</b>
          <p>give rating <span>5.5</span></p>
        </div>
      </div>
      <h3>business class hotel</h3>
      <p class="home-about-text">
        The Mimino hotel features spacious and stylish double luxury rooms with
        modern amenities for a comfortable stay.
      </p>
      <img src="" alt="Image of the business class hotel" class="img-two" />
    </div>
  </div>
</section>
