<section class="section home-about">
  <div class="container">
    <!-- Restaurant-hotel complex -->

    <h2 class="home-about-title visually-hidden">About a complex</h2>
    <div class="home-about-list-wrapper restaurant-hotel">
      <ul class="home-about-list list">
        <li class="home-about-list-item img-one">
          <picture>
            <source
              srcset="
                /img/home/about/home-about-chairs-desktop-tablet-1x.jpg 1x,
                /img/home/about/home-about-chairs-desktop-tablet-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/home/about/home-about-chairs-desktop-tablet-1x.jpg 1x,
                /img/home/about/home-about-chairs-desktop-tablet-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/home/about/home-about-chairs-mobile-1x.jpg 1x,
                /img/home/about/home-about-chairs-mobile-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="/img/home/about/home-about-chairs-mobile-1x.jpg"
              alt="Image of the complex"
            />
          </picture>
        </li>
        <li class="home-about-reviews">
          <div class="home-about-reviews-image-wrapper">
            <img
              srcset="
                /img/home/about/home-about-maria-1x.png 1x,
                /img/home/about/home-about-maria-2x.png 2x
              "
              src="/img/home/about/home-about-maria-1x.png"
              alt="Reviewer's image"
              class="home-about-reviews-image"
              width="41"
              height="41"
            />
          </div>
          <div class="home-about-reviews-content-wrapper">
            <b>Maria</b>
            <p>give rating <span>4.5</span></p>
          </div>
        </li>
        <li class="home-about-list-item img-two">
          <picture>
            <source
              srcset="
                /img/home/about/home-about-bath-desktop-1x.jpg 1x,
                /img/home/about/home-about-bath-desktop-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/home/about/home-about-bath-tablet-1x.jpg 1x,
                /img/home/about/home-about-bath-tablet-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/home/about/home-about-bath-mobile-1x.jpg 1x,
                /img/home/about/home-about-bath-mobile-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="/img/home/about/home-about-bath-mobile-1x.jpg"
              alt="Image of the complex"
            />
          </picture>
        </li>
      </ul>
      <div class="home-about-restaurant-hotel-wrapper">
        <h3 class="home-about-subtitle">restaurant-hotel complex</h3>
        <p class="home-about-text part-one">
          Indulge in a taste of luxury with every bite at Hotel Mimino. From the
          freshest seafood to the most succulent steaks, every dish is crafted
          with care to ensure that you enjoy a truly memorable dining
          experience.
        </p>
        <p class="home-about-text">
          Treat yourself to a taste of the good life and come dine with us
          today!
        </p>
      </div>
    </div>

    <!-- Business class hotel -->

    <div class="home-about-list-wrapper business-class">
      <div class="home-about-reviews-container">
        <picture class="img-one">
          <source
            srcset="
              /img/home/about/home-about-dining-desktop-tablet-1x.jpg 1x,
              /img/home/about/home-about-dining-desktop-tablet-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/home/about/home-about-dining-desktop-tablet-1x.jpg 1x,
              /img/home/about/home-about-dining-desktop-tablet-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/home/about/home-about-dining-mobile-1x.jpg 1x,
              /img/home/about/home-about-dining-mobile-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/home/about/home-about-dining-mobile-1x.jpg"
            alt="Image of the business class hotel"
          />
        </picture>
        <div class="home-about-reviews">
          <div class="home-about-reviews-image-wrapper">
            <img
              srcset="
                /img/home/about/home-about-alexander-1x.png 1x,
                /img/home/about/home-about-alexander-2x.png 2x
              "
              src="/img/home/about/home-about-alexander-1x.png"
              alt="Reviewer's image"
              class="home-about-reviews-image"
              width="41"
              height="41"
            />
          </div>
          <div class="home-about-reviews-content-wrapper">
            <b>Alexander</b>
            <p>give rating <span>5.5</span></p>
          </div>
        </div>
      </div>
      <div class="home-about-business-class-wrapper">
        <div>
          <h3 class="home-about-subtitle">business class hotel</h3>
          <p class="home-about-text">
            The Mimino hotel features spacious and stylish double luxury rooms
            with modern amenities for a comfortable stay.
          </p>
        </div>
        <picture class="img-two">
          <source
            srcset="
              /img/home/about/home-about-hall-desktop-tablet-1x.jpg 1x,
              /img/home/about/home-about-hall-desktop-tablet-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/home/about/home-about-hall-desktop-tablet-1x.jpg 1x,
              /img/home/about/home-about-hall-desktop-tablet-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/home/about/home-about-hall-mobile-1x.jpg 1x,
              /img/home/about/home-about-hall-mobile-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/home/about/home-about-hall-mobile-1x.jpg"
            alt="Image of the business class hotel"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
