<section class="home-hero">
    <div class="container">
        <h1 class="home-hero-title animate__lightSpeedInLeft animate__animated">Mimino</h1>
        <div class="home-hero-wrap">
            <div class="home-hero-button">
                <button class="btn btn-dark-bg js-open-modal"  data-modal="book-room">book a room</button>
                <button class="btn btn-dark-bg js-open-modal" data-modal="book-table">book a table</button>
            </div>
            <ul class="home-hero-list list">
                <li><p class="home-hero-item link">Whether you're in the mood for a hearty breakfast, a light lunch, or <span class="home-hero-italic">a romantic dinner</span>, our menu has something for everyone.</p></li>
                <li><p class="home-hero-item link">At Hotel Mimino, <span class="home-hero-italic">we believe</span> that great food should be available to everyone, no matter the time of day.</p></li>
            </ul>
        </div>
    </div>
</section>