<section class="home-hero">
    <div class="container">
        <h1>Mimino</h1>
        <button class="btn btn-dark-bg js-open-modal" data-modal="book-room">book a room</button>
        <button class="btn btn-dark-bg js-open-modal" data-modal="book-table">book a table</button>
        <ul>
            <li>Whether you're in the mood for a hearty breakfast, a light lunch, or a romantic dinner, our menu has something for everyone.</li>
            <li>At Hotel Mimino, we believe that great food should be available to everyone, no matter the time of day.</li>
        </ul>
    </div >
</section>