<section class=" section home-hotel-details">
  <div class="container">
    <div class="home-hotel-details-desktop-wrapper">
      <div class="home-hotel-details-contant-wrapper">
        <h2 class="home-hotel-details-title">Hotel</h2>
        <p class="home-hotel-details-text">
          Book your stay with us now and experience the epitome of comfort and
          luxury at our hotel. We guarantee you'll be thrilled with your
          decision.
        </p>
      </div>
      <div class="home-hotel-details-btn-desktop">
        <button
          type="button"
          class="btn btn-dark-bg js-open-modal"
          data-modal="book-room"
        >
          book a room
        </button>
        <a href="./hotel.html" class="btn btn-dark-bg">View room</a>
      </div>
    </div>
    <img
      class="img-one"
      srcset="
        /img/home/hotel-details/home-hotel-bed-mobile-1x.jpg 1x,
        /img/home/hotel-details/home-hotel-bed-mobile-2x.jpg 2x
      "
      src="/img/home/hotel-details/home-hotel-bed-mobile-1x.jpg"
      alt="Home hotel image"
    />
    <div class="home-hotel-details-slider">
      <div class="home-hotel-details-slider-item">
        <img
          class="home-hotel-details-slider-img"
          srcset="
            /img/home/hotel-details/home-hotel-bot-mobile-1x.jpg 1x,
            /img/home/hotel-details/home-hotel-bot-mobile-2x.jpg 2x
          "
          src="/img/home/hotel-details/home-hotel-bot-mobile-1x.jpg"
          alt="Home hotel image"
        />
      </div>
      <div class="home-hotel-details-slider-item">
        <img
          class="home-hotel-details-slider-img"
          srcset="
            /img/home/hotel-details/home-hotel-bat-mobile-1x.jpg 1x,
            /img/home/hotel-details/home-hotel-bat-mobile-2x.jpg 2x
          "
          src="/img/home/hotel-details/home-hotel-bat-mobile-1x.jpg"
          alt="Home hotel image"
        />
      </div>
      <div class="home-hotel-details-slider-item">
        <img
          class="home-hotel-details-slider-img"
          srcset="
            /img/home/hotel-details/home-hotel-mirror-tablet-1x.jpg 1x,
            /img/home/hotel-details/home-hotel-mirror-tablet-2x.jpg 2x
          "
          src="/img/home/hotel-details/home-hotel-mirror-tablet-1x.jpg"
          alt="Home hotel image"
        />
      </div>
      <div class="home-hotel-details-slider-item">
        <img
          class="home-hotel-details-slider-img"
          srcset="
            /img/home/hotel-details/home-hotel-sink-desktop-1x.jpg 1x,
            /img/home/hotel-details/home-hotel-sink-desktop-1x.jpg 2x
          "
          src="/img/home/hotel-details/home-hotel-sink-desktop-1x.jpg"
          alt="Home hotel image"
        />
      </div>
    </div>
    <div class="home-hotel-details-gallery-grid">
      <div class="div1">
        <picture
          ><source
            srcset="
              /img/home/hotel-details/home-hotel-bot-desktop-1x.jpg 1x,
              /img/home/hotel-details/home-hotel-bot-desktop-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/home/hotel-details/home-hotel-bot-tablet-1x.jpg 1x,
              /img/home/hotel-details/home-hotel-bot-tablet-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="/img/home/hotel-details/home-hotel-bot-tablet-1x.jpg"
            alt="Home hotel image"
          />
        </picture>
      </div>
      <div class="div2">
        <picture
          ><source
            srcset="
              /img/home/hotel-details/home-hotel-bed-desktop-1x.jpg 1x,
              /img/home/hotel-details/home-hotel-bed-desktop-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/home/hotel-details/home-hotel-bed-tablet-1x.jpg 1x,
              /img/home/hotel-details/home-hotel-bed-tablet-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="/img/home/hotel-details/home-hotel-bed-tablet-1x.jpg"
            alt="Home hotel image"
          />
        </picture>
      </div>
      <div class="div3">
        <picture
          ><source
            srcset="
              /img/home/hotel-details/home-hotel-mirror-desktop-1x.jpg 1x,
              /img/home/hotel-details/home-hotel-mirror-desktop-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/home/hotel-details/home-hotel-mirror-tablet-1x.jpg 1x,
              /img/home/hotel-details/home-hotel-mirror-tablet-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="/img/home/hotel-details/home-hotel-mirror-tablet-1x.jpg"
            alt="Home hotel image"
          />
        </picture>
      </div>
      <div class="div4">
        <picture
          ><source
            srcset="
              /img/home/hotel-details/home-hotel-sink-desktop-1x.jpg 1x,
              /img/home/hotel-details/home-hotel-sink-desktop-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/home/hotel-details/home-hotel-sink-tablet-1x.jpg 1x,
              /img/home/hotel-details/home-hotel-sink-tablet-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="/img/home/hotel-details/home-hotel-sink-tablet-1x.jpg"
            alt="Home hotel image"
          />
        </picture>
      </div>
      <div class="div5">
        <picture
          ><source
            srcset="
              /img/home/hotel-details/home-hotel-bat-desktop-1x.jpg 1x,
              /img/home/hotel-details/home-hotel-bat-desktop-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/home/hotel-details/home-hotel-bat-tablet-1x.jpg 1x,
              /img/home/hotel-details/home-hotel-bat-tablet-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="/img/home/hotel-details/home-hotel-bat-tablet-1x.jpg"
            alt="Home hotel image"
          />
        </picture>
      </div>
    </div>
    <div class="home-hotel-details-btn-wrapper">
      <button
        type="button"
        class="btn btn-dark-bg js-open-modal"
        data-modal="book-room"
      >
        book a room
      </button>
      <a href="./hotel.html" class="btn btn-dark-bg">View room</a>
    </div>
  </div>
</section>
