<section class="home-location">
    <div class="container">
        <h2>location</h2>
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1292.9599031473454!2d34.524742497618185!3d49.59926171198856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f34ac947%3A0xbb948724f7cf0b61!2z0JPQvtGC0LXQu9GM0L3Qvi3RgNC10YHRgtC-0YDQsNC90L3QuNC5INC60L7QvNC_0LvQtdC60YEgItCc0ZbQvNGW0L3QviI!5e0!3m2!1suk!2sua!4v1677193214887!5m2!1suk!2sua" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <address>
            <ul class="list list-gap list-gap--location">
                <li>Ukraine, Poltava, St.&nbsp;Marshal Biryuzov, 15</li>
                <li>
                        <p>call us:</p>
                        <ul class="list home-location-address__list">
                            <li>
                                <a class="home-location-address__item" href="tel:+380955559533">(095) 555 95 33</a>
                            </li>
                            <li>
                                <a class="home-location-address__item" href="tel:+380668491089">(066) 849 10 89</a>
                            </li>
                        </ul>
                </li>
            </ul>
        </address>

    </div>   
</section>