.list-about-kitchen-img {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 32px;
}

.text-about-kitchen-details {
    line-height: 1.29;
    letter-spacing: -0.02em;
}

.text-about-kitchen-details-hidden-desktop {
    display: none;
}

.list-item-about-kitchen-details:first-child {
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .list-about-kitchen-img {
        display: grid;
        grid-template-columns: 284px 388px;
        grid-template-rows: 296px 203px;
        grid-column-gap: 32px;
        grid-row-gap: 16px;
    }

    .list-item-about-kitchen-img-2 {
        order: 0;
    }
    
    .list-item-about-kitchen-img-3 {
        order: 2;
    }
    
    .list-item-about-kitchen-img-1 {
        order: 1;
    }

    .list-about-kitchen-details {
        display: flex;
        gap: 32px;
    }

    .text-about-kitchen-details {
        font-size: 18px;
        line-height: 1.33;
    }

    .list-item-about-kitchen-details:first-child {
        margin-bottom: unset;
    }
}

@media screen and (min-width: 1440px) {

    .list-about-kitchen-img {
        display: flex;
        margin-bottom: unset;
    }
    .list-item-about-kitchen-img-2 {
        order: 1;
        width: 334px;
    }
    
    .list-item-about-kitchen-img-3 {
        order: 2;
        width: 453px;
    }
    
    .list-item-about-kitchen-img-1 {
        order: 0;
    }
    
    /* .list-item-about-kitchen-details:first-child {
        width: 334px;
    }

    .list-item-about-kitchen-details:last-child {
        width: 453px;
    } */

    .text-about-kitchen-details {
        display: none;
    }

    .text-about-kitchen-details-hidden-desktop {
        display: inline;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.33;
        /* margin-top: 32px; */

    }
    
    /* .text-kitchen-first {
        width: 334px;
    }

    .text-kitchen-second{
        width: 453px;
    } */
}